/* the styles for the elements */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 800px;
  margin: 0% auto;
  border: 3px solid #931420;
  background-color: #fffded;
}

section {
  width: 525px;
  float: right;
  padding: 0px, 20px, 20px, 20px;
}

aside {
  width: 215px;
  padding-bottom: 20px;
  padding-left: 20px;
}

header {
  border-bottom: 3px solid #931420;
  padding-top: 1.5em;
  padding-bottom: 2em;
  background-image: linear-gradient(30deg, #f6bb73 0%, white 50%, #f6bb73);
}

article {
  padding: 0.5em 0;
}

article img {
  float: right;
  margin: 0.5em 0.5em 1em 1em;
  border: 2px solid black;
}

article h2 {
  padding-top: 0;
}
article h3 {
  font-size: 105%;
  padding-bottom: 0.25em;
}

section h1 {
  color: #800000;
  font-size: 150%;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin: 0%;
}

section h2 {
  color: #000000;
  font-size: 100%;
  padding-left: 0em;
  padding-right: 0.25em;
}

aside h3 {
  font-size: 105%;
  padding-bottom: 0.25em;
}

aside h2 {
  color: #800000;
  font-size: 130%;
  padding-top: 0.5em;
  padding-right: 0.25em;
  padding-bottom: 1em;
}

aside img {
  padding-bottom: 1em;
}
section p {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

a:focus,
a:hover {
  font-style: italic;
}
/* the styles for the header */
header img {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

header h2 {
  font-size: 175%;
  color: #800000;
}

header h3 {
  font-size: 130%;
  font-style: italic;
}

.shadow {
  text-shadow: 1px 1px 1px #800000;
}

/* the styles for the section */
main {
  clear: left;
}

/* the styles for the footer */
footer p {
  text-align: center;
  color: #ffff;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer {
  background-color: #931420;
  clear: both;
}

#nav_menu {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  position: relative;
}

#nav_menu li {
  float: left;
}

li a {
  display: block;
  width: 160px;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  background-color: #800000;
  color: #ffffff;
  font-weight: bold;
}

a.current {
  color: yellow;
}

#nav_menu li ul {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
}

#nav_menu li ul li {
  float: none;
}

#nav_menu li:hover > ul {
  display: block;
}
